// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.switch {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background-color: #fc6876;
  border: 1px solid #fc6876;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fc6876;
  -webkit-transition: .4s;
  transition: .4s;
  top: 3px;
}

input:checked + .slider {
  // background-color: #1dbf73;
  border: 1px solid #1dbf73;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(74px);
  -ms-transform: translateX(74px);
  transform: translateX(74px);
}

/*------ ADDED CSS ---------*/
.on
{
  display: none;
  left: 45%;
  color: #1dbf73;

}

.off{
  left: 60%;
color: #fc6876;
}

.on, .off
{
  // color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}


input:checked + .slider.round::before {
  background-color: #1dbf73 !important;
}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}





  //my css start---------------------------------
ion-toggle {
  /* zoom: 0.5; */
}

.form-grid {
  max-width: 600px;
  justify-content: start;
  background-color: #63748f;
  margin-bottom: 20px;

  #searchTitle {
    cursor: pointer;
  }

  h2 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
  }
  ion-icon {
    font-size: 35px;
    line-height: 0.7;
    color: #fff;
    // line-height: 20px;
  }

  ion-item {
    border-radius: 4px;
  }

  .search-btn {
    &,
    &:hover {
      background: #ffd05c;
      color: #000;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

.listing-card {
  padding: 5px;
  max-width: 600px;
  // ion-row {
  //   margin: 0;
  // }
  ion-col {
    padding: 0;
  }
  ion-grid {
    padding: 0;
  }

  .image-container {
    align-self: stretch;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 100px;
      max-width: 100px;
    }
  }

  ion-toggle {
    --background: #dfdede;
  }

  .toggle-row {
    ion-icon {
      font-size: 30px;
    }

    .toggle-container {
      border-radius: 25px;
      border: 1px solid #1dbf73;
      max-width: none;
      min-height: 28px;
      padding-left: 8px;

      .item-inner {
        padding-right: 0;
        padding-inline-end: 0 !important;

        ion-label {
          font-size: 10px;
          color: #1dbf73;
          text-transform: uppercase;
          margin: 0;
        }

        .toggle {
          padding: 5px 8px 5px 5px;
        }
      }
    }
  }

  .location {
    color: #929292;
    font-size: 13px;
    ion-icon {
      color: #1dbf73;
    }
  }

  .cam-btn-row {
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    ion-icon {
      font-size: 28px;
    }
    button {
      background-color: #b3b9c5;
    }
    button,
    ion-badge {
      height: 28px;
      border-radius: 2px;
      margin: 0;
    }
    .cam-col {
      display: flex;
      justify-content: start;
      align-items: flex-end;

      ion-icon {
        font-size: 44px;
        line-height: 28px;
        overflow: hidden;
        margin-right: 7px;
      }
      ion-badge {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #bb93b8;
      }
    }
  }

  .button-box-container {
    align-items: stretch;

    ion-col:nth-child(1){
      padding-right: 5px;
    }
    ion-col:nth-child(2){
      padding-left: 5px;
    }
    ion-col {
      // padding: 5px;
      &:first-child {
        @media (max-width: 575.98px) {
          // margin-bottom: 10px;
        }
      }

      > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;

        button {
          margin: 0;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 12px;
          padding: 20px 11px;

          @media (max-width:575.98px) {
            font-size: 10px;
          }

          img{
            width: auto;
            max-height: 20px;
          }
        }

        span {
          margin-bottom: 15px;
          @media (min-width: 576px) {
            margin-bottom: 25px;
          }
        }
      }
    }
    .upgrade-box {
      background-color: #fdfaef;

      button {
        background-color: #ffd15b;
        color: #222;

      }
    }
    .boost-box {
      background-color: #fff9fb;

      ion-col:nth-child(1){
       @media (max-width:575.98px) {
        display: none;
       }
      }


      ion-item {
        background-color: transparent;
      }
      button {
        background-color: #1dbf73;
        color: #ffffff;
      }
    }
  }
  .card-header {
    padding: 0;
    font-weight: 500;
    white-space: normal;
    line-height: 1.3;
    margin-top: 10px;
    margin-bottom: 1px;
  }

  .view-more-container {
    margin-bottom: 1px;
    border-bottom: 1px solid #c5c5c5;

    #viewMore {
      margin-top: 15px;
      color: #8aa4ee;
      border: 1px solid #eee;
      border-bottom: 0;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 0;

      ion-icon {
        font-size: 30px;
      }
    }
  }

  #expandAred {
    // border-top: 1px solid #c5c5c5;
    padding-top: 10px;

    // height: 0;
    // display: none;
    .btn-row {
      ion-col {
        padding: 5px 5px;
        button {
          border: 1px solid #d0d1d2;
          color: #898989;
        }

        .delete-btn{
          ion-icon{
          color: #fc6876;
          }
        }

        .edit-btn{
          ion-icon{
            color: #8aa4ee;
          }
        }
      }
    }
  }

  ion-item{
    p{
      white-space: normal;
    }
  }

  ion-thumbnail {
    min-width: auto !important;
    min-height: auto !important;
    margin-right: 5px !important;

    img {
      width: auto !important;
      height: auto !important;
      min-width: 21px;
      max-width: 21px;
    }
  }

  h2 {
    font-weight: 500;
  }
}

.pt-0 {
  padding-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.my-0 {
  margin-bottom: 0;
  margin-top: 0;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.px-5 {
  padding: 0 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.custom-badge-primary {
  background-color: #63748e;
  border-radius: 2px;
  padding: 5px 15px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-primary {
  color: #1dbf73 !important;
}

.bg-primary {
  background-color: #1dbf73 !important;
}
