// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-toggle {
  /* zoom: 0.5; */
}

.listing-card {
  padding: 5px;
  max-width: 400pxgit ;
  // ion-row {
  //   margin: 0;
  // }
  ion-col {
    padding: 0;
  }
  ion-grid {
    padding: 0;
  }

  .image-container {
    align-self: stretch;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  ion-toggle {
    --background: #dfdede;
  }

  .toggle-row {
    ion-icon {
      font-size: 30px;
    }

    .toggle-container {
      border-radius: 25px;
      border: 1px solid #1dbf73;
      max-width: none;
      min-height: 28px;
      padding-left: 8px;

      .item-inner {
        padding-right: 0;
        padding-inline-end: 0 !important;

        ion-label {
          font-size: 10px;
          color: #1dbf73;
          text-transform: uppercase;
          margin: 0;
        }

        .toggle {
          padding: 5px 8px 5px 5px;
        }
      }
    }
  }

  .location {
    color: #929292;
    font-size: 13px;
    ion-icon {
      color: #1dbf73;
    }
  }

  .cam-btn-row {
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    ion-icon {
      font-size: 28px;
    }
    button {
      background-color: #b3b9c5;
    }
    button,
    ion-badge {
      height: 28px;
      border-radius: 2px;
      margin: 0;
    }
    .cam-col {
      display: flex;
      justify-content: start;
      align-items: flex-end;

      ion-icon {
        font-size: 44px;
        line-height: 28px;
        overflow: hidden;
        margin-right: 7px;
      }
      ion-badge {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #bb93b8;
      }
    }
  }

  .button-box-container {
    align-items: stretch;
    ion-col {
      padding: 5px;
      &:first-child {
        @media (max-width: 575.98px) {
          margin-bottom: 10px;
        }
      }

      > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;

        button {
          margin: 0;
        }

        span {
          margin-bottom: 15px;
          @media (min-width: 576px) {
            margin-bottom: 25px;
          }
        }
      }
    }
    .upgrade-box {
      background-color: #fdfaef;

      button {
        background-color: #ffd15b;
      }
    }
    .boost-box {
      background-color: #fff9fb;

      ion-item {
        background-color: transparent;
      }
      button {
        background-color: #1dbf73;
      }
    }
  }
  .card-header {
    padding: 0;
    font-weight: 500;
    white-space: normal;
    line-height: 1.3;
    margin-top: 10px;
    margin-bottom: 1px;
  }

  #expandAred {
    // height: 0;
    // display: none;
  }
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.px-5 {
  padding: 0 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.custom-badge-primary {
  background-color: #63748e;
  border-radius: 2px;
  padding: 5px 15px;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-primary {
  color: #1dbf73 !important;
}

.bg-primary {
  background-color: #1dbf73 !important;
}
